:root{
	--primary-color: #F49D37;
	--secondry-color: #F5585B;
	--black-color: #000000;
	--light-black : #191919;
	--white: #fff;
	--green: #00D18C;
	--pink: rgba(245, 88, 91, 0.1);
	--orange: #F29C43;


}